[submodule "googletest"]
	path = googletest
	url =  git@github.com:google/googletest.git
[submodule "MediaInfo/ZenLib"]
	path = MediaInfo/ZenLib
	url =  git@github.com:MediaArea/ZenLib.git
[submodule "MediaInfo/zlib"]
	path = MediaInfo/zlib
	url =  git@github.com:MediaArea/zlib
    ignore = all
[submodule "CMakeNuGetTools"]
	path = CMakeNuGetTools
	url =  git@github.com:katusk/CMakeNuGetTools.git
[submodule "MediaInfo/MediaInfoLib"]
	path = MediaInfo/MediaInfoLib
	url =  http://github.com/towel42-comMediaInfoLib.git
